body{
    width: 90%;
    left: 20%;
    right: 78%;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

header{
    padding: 0.5;
}

header h1{
    color: #C60;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}

nav{
    background-color: #4286f4;
    padding-top: 0.2;
    padding-bottom: 0.2;
    padding-left: 0;
    padding-right: 0;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    padding: 0.5px;
    color: white;
}

nav li a:hover{
    color: orange;
    text-decoration: underline;
}

.texto{
    display: flex;
    flex-direction: row;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 20%;
    margin-right: 32px;
}

.menu .favoritos{
    width: 100%;
    padding: 5px;
    margin-top: 1px;
    background-color: #F8F8F8;
    border: 1px;
    border-color: #C5C5C5;
    border-style: solid;

}

.menu .favoritos h3{
    color: #036;
}

.menu .favoritos p{
    color: #999;
}

.menu .grup{
    width: 100%;
    padding: 5px;
    margin-top: 0.5px;
    background-color: #FFF6CD;
    border: 1px;
    border-color: #C60;
    border-style: dashed;
    line-height: 25px;
}

.menu .grup h3{
    color: #036;
}

.menu .grup a{
    color: #C60;
}

.menu .grup i{
    font-size: 14px;
}

.main{
    width: 55%;
    text-align: justify;
}

.main h2{
    color: #C60;
}

.main a{
    color: #C60;
}