<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>UBI Galaxy Music</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/Homepage/background.css" />
    <link rel="stylesheet" href="/css/Homepage/style.css" />
    <link rel="stylesheet" href="/css/Homepage/animated.css" />
</head>

<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/conta">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <label for="" id="tittle">UBI Galaxy Music</label>
        <div class="container">
            <div class="box">
                <div class="box-content">
                    O UBI Galaxy Music é um aplicação WEB capaz de reproduzir músicas do YouTube, criar playlist e muito mais. Os utilizadores também poderam transferir as suas músicas.
                </div>
            </div>
        </div>
    </main>
</body>

</html>