<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/player/style.css">
    <link rel="stylesheet" href="/css/Homepage/background.css" />
    <link rel="stylesheet" href="/css/player/list.css">
</head>

<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <header>
        <form class="search" action="/player/play" method="GET">
            <input type="text" name="music" id="pesquisa" placeholder="Search Here">
            <button type="submit">Search🔍</button>
        </form>
    </header>

    <div id="fundo">
        <main>
            <div id="list"></div>
        </main>
    </div>
    <script src="/Script/YoutubeDataAPI.js"></script>
</body>

</html>