<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/player/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="search">
            <input type="text" name="music" id="pesquisa" placeholder="Search Here">
            <a href="/sea%r4556ch">Search</a>
        </div>
    </header>

    <main>
        <div id="list"></div>
    </main>
</body>
<script src="/Script/YoutubeDataAPI.js"></script>

</html>