<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/player/style.css">
    <link rel="stylesheet" href="/css/Homepage/background.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <header>
        <form class="search" action="/player/search" method="GET" id="formualrio">
            <input type="text" name="music" id="pesquisa" placeholder="Search Here">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <div class="music-container" action="/player/play" method="POST" id="formualrio">
            <form class="music-player">
                <button id="playvideo" type="submit">Play button</button>
            </form>
            <div class="Radio">
                <div id="info">
                    <img src="" id="RadioImg">
                    <label id="RadioName"></label>
                </div>
                <div id="controlls">
                    <button onclick="Before()" id="BeforeButton"><i class="material-icons">skip_previous</i></button>
                    <button onclick="PlayPause()" id="PlayPauseButton"><i class="material-icons" id="Play-PauseIcon">play_arrow</i></button>
                    <button onclick="After()" id="AfterButton"><i class="material-icons">skip_next</i></button>
                </div>
            </div>
        </div>

        <audio style="display: none">
            <source src="https://playerservices.streamtheworld.com/api/livestream-redirect/rfmaac_SC" type="audio/mpeg">
        </audio>
    </main>
</body>

<script src="/Script/RadioWorldAPI.js"></script>
</html>