<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/Homepage/background.css" />
    <link rel="stylesheet" href="/css/Homepage/style.css" />
    <link rel="stylesheet" href="/css/froms/box.css" />
    <link rel="stylesheet" href="/css/froms/register.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Register</title>

</head>

<body>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/conta">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="POST" id="formualrio">
            <div class="container">
                <div class="box">
                    <div class="box-content">
                        <label for="" id="tittle">Register</label>
                        <div class="register_input">
                            <i class="material-icons">person</i><input type="text" name="username"
                                placeholder="Username"> <br>
                            <i class="material-icons">key</i><input type="password" name="password" id="password"
                                placeholder="Password"> <br>
                            <i class="material-icons">key</i><input type="password" name="confirm-password" id="confirm-password"
                                placeholder="Confirm Password"> <br>
                        </div>
                        <div class="register_button">
                           <input type="button" onclick="validate()" value="Register" id="register" value="Register"></input>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <script>
        function validate(){
            var password = document.getElementById('password').value;
            var confirm_password = document.getElementById('confirm-password').value;
            if(password != confirm_password){
                alert("Password not match");
            } else {
                document.getElementById('formualrio').submit();
            }
        }
    </script>

</body>

</html>