body{
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MenuContainer{
    height: 100vh;
    width: 340px;
    background-color: rgb(39, 33, 33);
}

.MenuContainer #tittle{
    color: white;
    text-align: center;
    font-size: 45px;
}


.MenuContainer .pesquisa input{
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(175, 28, 28);
    border-style: none;
    color:white;
}

.MenuContainer .itens{
    line-height: 45px;
    width: 100%;
    text-align: center;
    background-color: rgb(117, 19, 19);
}

.MenuContainer .itens a{
    font-size: 18px;
    color: white;
    width: 100%;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.MenuContainer .itens a:hover{
    font-size: 24px;
    border-style: none;
}

.MusicContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(238, 107, 0) 0%, rgb(104, 10, 10) 35%, rgb(202, 18, 18) 100%);
}

/* Music Player Button: */
.MusicContainer .button img{
    padding-top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;    
}

.MusicContainer .button img:hover{
    padding-top: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
/*------------------------------------*/

.MusicContainer .MusicPlayer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 380px;
    background-color: white;
    border-radius: 25px;
}

/*Icon do disco:*/
.MusicContainer .MusicPlayer .Icon img{
    height: 70px;
    width: 70px;
    border-radius: 50%;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

@keyframes rotate {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*----------------------------------*/

.MusicContainer .MusicPlayer .Info{
    display: flex;
    height: 60px;
    width: 110px;
    background-color: green;
    justify-content: center;
    align-items: center;
}