body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu{
    position: absolute;
    background-color: #24252e;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: center;
    gap: 30px;
}

.menu ul a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
}

.menu ul a:hover{
    color: rgb(138, 144, 189);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b2735;
    color: white;

}

main #tittle{
    font-size: 40px;
    font-weight: bold;
}

main .container{
    position: relative;
}