body{
    font-family: Calibri;
}

h1{
    color: #ff3399;
}

h4{
    color: #ff3399;
}

.Header .Imagem{
    width: 500px;
    height: 100px;
}

.Menu ul{
    display: inline;
    list-style: none;
}

.Menu li{
    float: left;
}

.Conteudo,
.Preguntas{
    border-top-width: 2px;
    border-top-color: grey;
    border-top-style: solid;
    margin-top: 5px;
}

.Conteudo .Tabela .Image{
    height: 80px;
    width: 80px;
}

.Conteudo .Tabela .Linha{
    display: flex;
    flex-direction: row;
}

.Conteudo .Tabela .Linha .Celula{
    display: flex;
    align-items: center;
    padding: 20px;
}

.Conteudo .Tabela .Linha .Texto{
    padding-left: 15px;
}