@charset "UTF-8";
.MainTable{
    width: 40%;
}

tr{
    height: 25px;
    border: solid;
}

.SmallColumn{
    width: 4.5%;
}

.StandColumn{
    width: 10%;
    font-size: 12px;
}

#TabelaInterna{
    width: 95%;
    padding: 4px;
}