body{
    background-color: grey;
    margin-top: 0;
}

.formulario{
    position: relative;
    margin-right: 15%;
    margin-left: 15%;
    background-color: white;
    width: 60%;
    padding: 4%;
    border-radius: 12px;
}

.NOME #name,
.EMAIL #email{
    width: 70%;
    border-radius: 5px;
    height: 20px;
    border: 1 solid grey;
}

.formulario #enviar{
    margin-top: 20px;
    padding: 5px;
    background-color: turquoise;
    border: 1;
    border-color: turquoise;
    color: white;
    border-radius: 5px;
}