#fundo{
    background-color: #1b2735;
    height: 100vh;
}

main{
    margin-top: 55px;
    background-color: #1b2735;
    height: 90vh;
    width: 100%;
    color: rgb(138, 144, 189);
    overflow: scroll;
}

#list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 10px;
    width: 100%;
    padding-top: 30px;
}

#list img{
    width: 130px;
    height: 130px;
}

#list .item{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px;
    font-size: 22px;
    width: 730px;
    font-size: 30px;
}

#list .item:hover{
    background-color: rgb(140, 85, 152);
    color: white;
}