body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: #1b2735;
    color: white;
}

.login {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #24252e;
    border-radius: 20px;
    margin: 0 auto;
    color: #fff;
    width: 600px;
    height: 410px;
    opacity: 0.8;
}

.login img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 45%;
    height: 100%;
}

.login form {
    margin: 25px;
    text-align: center;
}

.login form input {
    border: none;
    border-bottom: 2px solid rgb(138, 144, 189);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(138, 144, 189);
    padding: 5px;
    font-size: 16px;
}

.login form button {
    border: 1px solid rgb(138, 144, 189);
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

@media screen and (max-width: 1000px) {

    body {
        font-size: 20px;
    }

    .login {
        width: 550px;
        height: 500px;
    }

    .login img {
        display: none;
    }

    .login form {
        margin: 0;
        width: 100%;
    }

    .login form input {
        font-size: 25px;
    }
}

@media screen and (max-height: 800px) {

    .login {
        height: 50vh;
    }

}

@media screen and (max-height: 695px) {

    .login {
        font-size: 16px;
    }

    .login form input {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .login form button {
        font-size: 12px;
        padding: 6px;
    }

}